*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.half-div{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
section{
    padding-bottom: 60px;
}
.topper{
    background-image: url(img/top-banner.png);
    height: 650px;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.half-div img{
    width: 450px;
}
.highlight{
    color: orange;
}
.half-div h1{
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
}
.fist-div{
    padding: 100px 0;
}
.half-div h3{
    margin: 20px 0;
}
.half-div p{
    color: rgba(34, 30, 30, 0.61);
    margin: 0 0 20px 0;
}
.half-div .button{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border: none;
    border-radius: 6px;
    text-decoration: none;
}

.middle{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat; 
    height: 350px;
    background-position: right;
    padding-bottom: 50px;
}
.middle img{
    width: 100%;
}
.middle h2{
    font-size: 40px;
    font-weight: 600;
}
.middle h3{
    font-weight: 500;
}
.clear-fix{
    clear: both;
}
.exp-section{
    background-image: url(img/exp-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 50px;
}
.exp-section .headline{
    font-size: 50px;
    font-weight: 500;
}
.exp-section h2{
    font-size: 40px;
    font-weight: 500;
}
.exp-section .half-div{
    box-shadow: 10px 5px 40px gray;
    height: 400px;
    padding-top: 30px;
}
#exp-left{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background: white;
}
#exp-right{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, rgb(14, 14, 226), rgb(21, 200, 255));
    border-image-slice: 1;
}

footer p{
    text-align: center;
    padding: 20px 0;
}